In [1]:
import oracledb
import pandas as pd

In [10]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.9-cp311-cp311-macosx_11_0_arm64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 12.5 MB/s eta 0:00:0000:010:01
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Installing collected packages: typing-extensions, sqlalchemy
Successfully installed sqlalchemy-2.0.9 typing-extensions-4.5.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
con = oracledb.connect("jaeminiman/1234@localhost:1521/xe")

In [7]:
df = pd.read_csv('mysql/PL2122_match.csv', encoding = 'euc-kr').iloc[:,1:]
df.head()

,home_shot,away_shot,home_possession,away_possession,home_pass_success,away_pass_success,home_dribbles,away_dribbles,home_aerials_won,away_aerials_won,...,home_own_att,away_own_att,home_total_passes,away_total_passes,home_crosses_passes,away_crosses_passes,home_long_balls,away_long_balls,home_short_passes,away_short_passes
0,14,5,43.1,56.9,84,86,11,9,8,11,...,0,0,470,618,22,9,52,69,393,539
1,15,12,34.1,65.9,79,85,15,13,17,18,...,0,0,351,675,23,25,54,44,274,606
2,9,21,42.4,57.6,73,83,8,7,25,16,...,0,0,354,479,15,16,63,55,276,407
3,22,10,62.7,37.3,87,73,5,7,19,13,...,0,0,603,361,38,15,57,65,508,281
4,16,8,61.3,38.7,82,71,5,6,17,21,...,0,0,557,350,20,13,62,54,474,282

In [8]:
df.to_sql(name='match_PL_2122', con=con, if_exists='append',index=False)

/var/folders/0n/d2rdhpkj2lq5h2j83266pz3r0000gn/T/ipykernel_47177/3363054608.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(name='match_PL_2122', con=con, if_exists='append',index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': DPY-4009: 0 positional bind values are required but 1 were provided