In [67]:
import os
import oracledb
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import Float

In [68]:
#con = oracledb.connect(user="jaeminiman", password="1234", dsn="localhost:1521/xe")
con = create_engine('oracle+oracledb://jaeminiman:1234@localhost:1521/xe')

In [69]:
PL2122_match = pd.read_csv('data/PL2122_match.csv', encoding = 'euc-kr').iloc[:,1:]
PL_player_summary_2223 = pd.read_csv('./data/PL_player_summary_2223.csv').iloc[:,1:]
PL_player_offensive_2223 = pd.read_csv('./data/PL_player_offensive_2223.csv').iloc[:,1:]
PL_player_passing_2223 = pd.read_csv('./data/PL_player_passing_2223.csv').iloc[:,1:]
PL_player_defensive_2223 = pd.read_csv('./data/PL_player_summary_2223.csv').iloc[:,1:]

print(PL_player_summary_2223.head(2))
print(PL_player_offensive_2223.head(2))
print(PL_player_passing_2223.head(2))
print(PL_player_defensive_2223.head(2))

       player_name  team_number  team_name   Apps  Mins  Goals  Assists  Yel  \
0   Erling Haaland          167   Man City  15(1)  1311     21        3    3
1  Kieran Trippier           23  Newcastle     18  1597      1        4    4

   Red  SpG   PS%  AerialsWon  MoM  Rating
0    0  4.1  75.7         1.0    4    7.79
1    0  0.4  75.9         1.3    7    7.70
       player_name  team_number  team_name  age       position   Apps  Mins  \
0   Erling Haaland          167   Man City   22           FW    15(1)  1311
1  Kieran Trippier           23  Newcastle   32   D(LR),M(R)       18  1597

   Goals  Assists  SpG  KeyP  Dribble  Fouled  Off  Disp  UnsTch  Rating
0     21        3  4.1   1.0      0.3     0.7  0.3   0.9     1.5    7.79
1      1        4  0.4   2.6      0.3     0.7  0.2   0.1     0.6    7.70
       player_name  team_number  team_name  age       position   Apps  Mins  \
0   Erling Haaland          167   Man City   22           FW    15(1)  1311
1  Kieran Trippier           23  Newcastle   32   D(LR),M(R)       18  1597

   Assists  KeyP  AvgP   PS%  Crosses  LongB  ThrB  Rating
0        3   1.0  14.1  75.7      0.0    0.1   0.1    7.79
1        4   2.6  50.2  75.9      3.7    3.5   0.3    7.70
       player_name  team_number  team_name   Apps  Mins  Goals  Assists  Yel  \
0   Erling Haaland          167   Man City  15(1)  1311     21        3    3
1  Kieran Trippier           23  Newcastle     18  1597      1        4    4

   Red  SpG   PS%  AerialsWon  MoM  Rating
0    0  4.1  75.7         1.0    4    7.79
1    0  0.4  75.9         1.3    7    7.70

In [70]:
def create_db_table(data, name, conn, index=False):
    dtype_map = {data.dtypes.index[i] : Float() for i in range(len(data.dtypes)) if data.dtypes[i] == 'float64' or data.dtypes[i] == 'float32'}
    data.to_sql(name, con=conn, index=index, dtype = dtype_map)
    return

In [71]:

create_db_table(PL2122_match, 'pl_match_stats_2122', conn=con, index=False)
create_db_table(PL_player_summary_2223, 'pl_player_summary_2223', conn=con, index=False)
create_db_table(PL_player_passing_2223, 'pl_player_passing_2223', conn=con, index=False)
create_db_table(PL_player_offensive_2223, 'pl_player_offensive_2223', conn=con, index=False)
create_db_table(PL_player_defensive_2223, 'PL_player_defensive_2223', conn=con, index=False)